body {
    text-align: center;
    font-family: helvetica, sans-serif;
}

.recipies a {
    background-color: orange;
    color: white;
}

.page-title {
    background-color: rgb(47, 68, 107);
    color: rgb(143, 95, 5);
}

.section {
    background-color: dodgerblue;
    color: white;
}

.home-button {
    background-color: rgb(121, 158, 228);
    font-weight: 700;
    font-size: 17px;
}